# encoding: utf-8

<% content_for :title, @other.Name %>

<script type="text/javascript">
	(function() { document.getElementById('main_image').onload=rescaleMainImage;})

	function rescaleMainImage(){
		var img = document.getElementById('main_image');
		if(img.height > img.width) {
			img.height = '100%';
			img.width = 'auto';
		}
	}
	function displayImage(e){
		document.getElementById('main_image').src = e.target.src;

		rescaleMainImage();		
	}
</script>

<div class="entry">
<table><tr><td>
	<div class="entryHeader">					
		<div class="title"><%= @other.Name %></div>
	</div>
	
	
</td></tr><tr><td>
	<%unless @other.Images.nil? %>
	<div id="main_container">
		<%= image_tag @other.Images.split(',')[0], :id => "main_image" %>
	</div>
	
	<%end%>
</td></tr><tr><td>
	<%unless @other.Images.nil? %>
		<% @other.Images.delete(' ').split(',').each do |image| %>
			<div class="image">
				<a href="#"
				onclick="displayImage(event);return false;">
					<%= image_tag image, :class => "img_preview" %>
				</a>
			</div>
		<% end %>
	<%end%>
	</td></tr><tr><td>

	<br>
	<table>
		<tr><td>Project Type:</td> <td><%=raw @other.Type %></td></tr>
		<tr><td>Platform:</td> <td><%=raw @other.Platform %></td></tr>
		<tr><td>Team:</td> <td><%=raw @other.Team %></td></tr>
		<tr><td><%=raw @other.Links %></td></tr>
	</table>

	<h2>Description:</h2>
	<div class="description"><p><%=raw @other.Description %></p></div>
	
	<h2>What I did:</h2>
	<div class="done"><ul><%=raw @other.Done %></ul></div>
	</td></tr>	 
</table>

</div>


			
   