# encoding: utf-8

<% content_for :title, @game.Name %>

<script type="text/javascript">
	(function() { document.getElementById('main_image').onload=rescaleMainImage;})

	function rescaleMainImage(){
		var img = document.getElementById('main_image');
		if(img.height > img.width) {
			img.height = '100%';
			img.width = 'auto';
		}
	}
	function displayImage(e){
		document.getElementById('main_image').src = e.target.src;

		rescaleMainImage();		
	}
</script>

<div class="entry">
<table><tr><td>
	<div class="entry_header">					
		<div class="title"><%= @game.Name %></div>
	</div>

	<!-- Image new style -->		
	<% unless @game.Images.nil? %>
		<div id="main_container">
			<%= image_tag get_primary_image(@game.Images), :id => "main_image" %>
		</div>
		
		<% glob_asset_dir(@game.Images).each do |image| %>
		  <% if image =~ /\d+\.png/ %>
				<div class="image show_image">
					<a href="#"
					onclick="displayImage(event);return false;">
						<%= image_tag construct_asset(@game.Images, image), :class => "img_preview" %>
					</a>
				</div>
			<%end %>
		<% end %>
	<%end%>

</td></tr><tr><td>
	
	
	<br>
	<table>
		<tr><td>Project Type:</td> <td><%=raw @game.Type %></td></tr>
		<tr><td>Platform:</td> <td><%=raw @game.Platform %></td></tr>
		<tr><td>Team:</td> <td><%=raw @game.Team %></td></tr>
		<tr><td>Date:</td> <td><%=raw @game.Date %></td></tr>
		<tr><td><%=raw @game.Links %></td></tr>
	</table>

	<h2>Description:</h2>
	<div class="description"><p><%=raw @game.Description %></p></div>
	
	<h2>What I did:</h2>
	<div class="done"><ul><%=raw @game.Done %></ul></div>
	</td></tr>	 
</table>

</div>

