# encoding: utf-8

<% content_for :title, @game.Name %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "gallery.js" %>
  <script>
	window.onload = function(){
		updateSidebar();
		loadImages("<%=glob_asset_dir(@game.Images)%>".replace(/&quot;/g,'"'));
	};

	$(window).resize(function(){
		updateSidebar();
		resizeGallery();
	});
  </script>
<% end %>

<div class="project_header">					
	<div class="title project_title"><%= @game.Name %></div>
</div>

<!--- HTML 5 --->	
<div class="gallery_spacer">
	<div id="gallery_div" class="gallery_div">
			<canvas id="image_gallery" class="gallery" tabindex="0" >  </canvas>
			<canvas id="gallery_controls" class="gallery controls" tabindex="0">  </canvas>
	</div>
</div>

<div class="summary">
	<table>
		<tr><td>Project Type:</td> <td><%=raw @game.Type %></td></tr>
		<tr><td>Platform:</td> <td><%=raw @game.Platform %></td></tr>
		<tr><td>Team:</td> <td><%=raw @game.Team %></td></tr>
		<tr><td>Date:</td> <td><%=raw @game.Date %></td></tr>
		<tr><td><%=raw @game.Links %></td></tr>
	</table>
	<h2>Description:</h2>
	<div class="description"><p><%=raw @game.Description %></p></div>
	
	<h2>What I did:</h2>
	<div class="done"><ul><%=raw @game.Done %></ul></div>
	</td></tr>	 
</div>