<% content_for :title, "John's Portfolio" %>

<div class="portfolio_header">
	Games
</div>

<div id="games" class="project_box">
	<% @games.each do |game| %>
		<div class="entry_portfolio">
			<div class="entry_header_portfolio">			
				<%unless game.Images.nil? %>			
					<div class="image">
						<%= link_to (image_tag small_image_url(game.Images), size:'256'), game_path(game) %>
					</div>
				<%end%>						
				<div class="title"><%= link_to game.Name, game_path(game)  %></div>
				<div class="details">
					<table>
						<tr><td>Project Type:</td><td><%= game.Type %></td></tr>
						<tr><td>Platform:</td><td><%=raw game.Platform%></td></tr>
					</table>
				</div>						
			</div>
		</div>
	<%end%> 
</div>
<div class="clear"></div>

<div class="portfolio_header">
	Other Projects
</div>	

<div id="other_projects" class="project_box">	
	<% @others.each do |other| %>
		<div class="entry_portfolio">
			<div class="entry_header_portfolio">			
				<%unless other.Images.nil? %>			
					<div class="image">
						   <%= link_to (image_tag small_image_url(other.Images)), other_path(other) %>
					</div>
				<%end%>		
				
				<div class="title"><%= link_to other.Name, other_path(other)  %></div>
				<div class="details">
					<table>
						<tr><td>Project Type:</td><td><%= other.Type %></td></tr>
						<tr><td>Platform:</td><td><%=raw other.Platform%></td></tr>
					</table>
				</div>				
			</div>
		</div>
	<%end%>  
</div>

