<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="author" content="John F. Dunham">
  
	
	<%= javascript_include_tag "application" %>		
    <%= stylesheet_link_tag "application" %>
	
	<script>
		
	</script>
  

  <title><%= yield(:title) %></title>
  
  <%= csrf_meta_tags %>
</head>

<body>
	<div id="header">        
        <ul>
            <li id="home"><%= link_to "About", root_path %></li>
            <li id="portfolio"><%= link_to "Portfolio", portfolio_path %></li>
            <li id="blog"><a href="http://www.johndunhamgames.com/blog">Blog</a></li>
        </ul>       
    </div>
	<div id= "content_area">
		<div id = "left_sidebar" class = "sidebar"></div>	
		<div id = "right_sidebar" class = "sidebar"> </div>	


		<div id="mainBody" class="content">
			<div id="content_box">
				<%= yield %>			
			</div>
		
			<div id="footer">
				Copyright &#169 2014 All Rights Reserved - John Dunham
			</div>
		</div>		
	</div>		
</body>
</html>
